.App {
  font-family: 'Poppins',sans-serif;
  
}
.moviepic {
  height: 500px;
  width: 340px;
  object-fit: cover;
}
.movie-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
input{
  margin: 5px;
  text-align:center;
}
.movie-form{
  margin: 10px;
}
.movie-name {
  font-size: 24px;
  font-weight: 600;
  margin-left: 5px;
  
}
.movie_name_rating{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movie-genre{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:0;
 
}

.movie-container {
  margin: 10px;
  width: 340px;
  margin-right: 10px;
}

Button{
 
  font-size: 16px;
  
}
