.App {
  font-family: 'Poppins',sans-serif;
  
}
.moviepic {
  height: 500px;
  width: 370px;
  object-fit: cover;
}
.movie-details{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
input{
  margin: 5px;
  text-align:center;
}
.movie-form{
  margin: 10px;
}
.movie-name {
  font-size: 24px;
  font-weight: 600;
  margin-left: 5px;
}
.rating-star{
  font-size: medium;
}
.notFoundImage{
  object-fit: cover;
}
.movie_name_rating{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movie-genre{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0;
 
}

.movie-container {
  margin: 10px;
  width: 370px;
  gap: 10px;
}

Button{
  font-size: 16px;
}

.movie-form{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left:35%;
  margin-top:15vh;
}

.formButton{
  margin-top: 10px;
}

ul li{
  list-style-type:none;
  display: inline;
  padding: 10px;
}
.card-footer{
  display: flex;
  justify-content: space-between;
}
.home-page-content{
  margin-top: 20vh;
  margin-left: 35%;
}

.movie-detail-container{
  padding: 15px ;
}
.colorbox{
  margin-top: 15vh;
  margin-left: 40%;
}

.inputBox{
  display:flex;
  gap:15px;
}
